/**
  This file contains all the necessary styling for a uniform
  navigation bar that can exist on any of the v1, v2 or bootstrap
  pages.
*/
.global-header {
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.35);
  background: $header-main-bg;
  border-bottom: 1px solid $header-mobile-border;
  margin-bottom: $baseline;

  @include media-breakpoint-up(lg) {
    position: inherit;
  }

  /*
    Logo and course identification block
  */
  .header-logo {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    text-align: left;

    @include media-breakpoint-down(md){
      display: flex;
      justify-content: center;
    }

    a {
      .logo {
        height: $header-logo-header-height;
        padding: $baseline/2 0;
        margin-right: $baseline;
      }

      @include media-breakpoint-down(md) {
        .logo {
          display: block;
        }
      }
    }

    .course-header {
      margin: 0 $baseline*0.75 0;
      font-size: $font-size-sm;
      color: $header-primary;
      line-height: 1em;
      display: none;

      .course-name {
        display: block;
        font-size: $font-size-base;
        margin-top: 7px;
        font-weight: 600;
      }

      // Hide the course header for smaller screen sizes
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  .edx-cookie-banner-wrapper {
    .edx-cookie-banner {
      min-width: 0;
    }
  }

  /*
    Main navigation buttons for Courses, programs, profile and explore buttons.

    There are two stylings for the two circumstances, first the mobile, followed
    by the desktop styling
  */
  // Desktop styling
  @include media-breakpoint-up(lg) {
    .nav-links {
      display: flex;
      flex-grow: 1;

      .nav-item {
        display: flex;

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;

          &:not([class]) {
            padding-left: $baseline/2;
            padding-right: $baseline/2;
          }
        }

        .btn {
          margin: $baseline/2 0;
        }

        //.register-btn {
        //  margin-right: $baseline/4;
        //}

        // If user is authenticated
        &:not(.not-authenticated .nav-item):hover {
          background-color: $header-main-bg-dark;
          transition: 200ms;
        }

        // If user is NOT authenticated
        &:not(.already-authenticated .nav-item) a:hover {
          background-color: $header-main-bg-dark;
          transition: 200ms;
        }
      }

      .main,
      .secondary {
        display: flex;
      }

      //.main:not(:last-child) {
      //  margin-right: $baseline/4;
      //}

      .main {
        .nav-tab {
          text-transform: none;
          padding: 0;
          margin: 0;
          cursor: pointer;

          a {
            color: $header-primary;
            padding: $baseline/2 $baseline*0.8 $baseline/2;
            font-weight: $font-weight-normal;
            border-bottom: 4px solid transparent;
            cursor: pointer;

            &.active,
            &:hover {
              border-bottom-style: solid;
              border-bottom-color: $header-primary;
            }

            &:hover {
              cursor: pointer;
              border-bottom-color: $header-primary;
            }
          }
        }
      }

      .secondary {
        margin-left: auto;

        // All navigation items
        .nav-item {
          font-size: $font-size-base;
          padding-left: $baseline/2;
          padding-right: $baseline/2;

          &.nav-item-dropdown {
            position: relative;

            padding: 0;
            margin: 0;
          }

          a {
            color: $header-primary;
            font-weight: $font-weight-normal;
          }
        }


        //Sign in, Register and Shopping Cart buttons
        .btn {
          border: 1px solid $header-primary;
          //padding: $baseline/4 $baseline;
          border-radius: $baseline/4;
          cursor: pointer;
          text-decoration: none;
        }

        a.sign-in-btn,
        .nav-item a.shopping-cart {
          //background-color: $header-primary;
          color: $header-primary;
          border: 1px solid $header-primary;
          font-weight: $font-weight-normal;
          padding: $baseline/2 $baseline;

          &:hover {
            //background-color: $header-main-bg;
            color: $header-primary;
            border-color: $header-primary;
          }
        }

        a.register-btn {
          //background: $header-main-bg;
          color: $header-primary;
          font-weight: $font-weight-normal;
          padding: $baseline/2 $baseline;

          &:hover {
            //background-color: theme-color("primary");
            color: $header-primary;
          }
        }

        // User information
        .user-image-frame {
          margin-left: $baseline/2;
          margin-right: $baseline;
          border-radius: $baseline/4;
          width: $header-user-image-size;
        }

        // Dropdown behavior
        .toggle-user-dropdown {
          display: flex;
          padding: $baseline/2;
          text-decoration: none;
          cursor: pointer;

          span {
            display: flex;
            align-items: center;
            color: white;
          }
        }

        .dropdown-user-menu {
          border: 1px solid $header-mobile-border;
          position: absolute;
          background-color: $header-main-bg;
          color: white;
          top: 100%;
          z-index: 10;

          .dropdown-item {
            display: flex;
            cursor: pointer;
            overflow: hidden;
            padding: 0;

            &:hover {
              background-color: $header-main-bg-dark;
            }

            &:not(:last-child) {
              border-bottom: 1px solid $header-mobile-border;
            }

            a {
              font-weight: $font-weight-base;
              padding: $baseline/2 $baseline*0.75;
              display: inline-block;
              width: 100%;

              //&:focus {
              //  outline: none;
              //  color: theme-color("dark");
              //  background-color: theme-color("light");
              //}
            }
          }
        }
      }
    }

    .hamburger-menu {
      display: none;
    }
  }

  .main-header {
    display: flex;
    padding: 0;

    @include media-breakpoint-down(md) {
      align-items: center;
      justify-content: center;
    }
  }

  // Responsive styling for mobile
  @include media-breakpoint-down(md) {
    // Display the menu icon and allow for transition to an X on click
    .hamburger-menu {
      @include left($baseline);

      position: absolute;
      width: 30px;
      height: 20px;
      padding-bottom: $baseline/4;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      .line {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $header-primary;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: $baseline/2;
        }

        &:nth-child(4) {
          top: $baseline;
        }
      }

      &.open .line {
        &:nth-child(1) {
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }

  // Hiding and displaying control classes
  .hidden {
    display: none !important;
  }

  @media print {
    border-bottom: 1px solid $gray-500 !important;
  }
}

/*
  Mobile menu styling
*/
.mobile-menu {
  border-top: 1px solid $header-mobile-border;

  @include media-breakpoint-up(lg) {
    display: none !important;
  }

  @include media-breakpoint-down(md) {
    // Override standard styling for the mobile menu links
    .mobile-nav-link {
      position: static;
      transform: none;
      overflow: hidden;
      padding: 0;

      a {
        font-size: $font-size-base;
        font-weight: 600;
        text-decoration: none;
        outline: none;
        display: block;
        color: white;
        background-color: $header-main-bg;
        border-radius: 0;
        width: 100%;
        padding: $baseline*0.6 $baseline;
        border-bottom: 1px solid $header-mobile-border;
        text-align: left;
        cursor: pointer;

        &:hover,
        &:focus {
          background-color: $header-main-bg-dark;
          transition: 200ms;
        }

        &::after {
          content: '\00BB';
          padding-left: 4px;
        }
      }
    }
  }

  // Hiding and displaying control classes
  &.hidden {
    display: none !important;
  }
}

// Hide elements in menu bar when they exist in mobile
.hidden-mobile {
  @include media-breakpoint-down(md) {
    &:not(.mobile-nav-link) {
      display: none;
    }
  }
}

// Language selection styling

.settings-language-form {
  @include float(right);

  padding: $baseline/2;
}
